/* FONTS PATH */
$fa-font-path: "../fonts";

$xs: 0;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1640px;

/*containers size*/
$container-max-widths: (
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl
);

$grid-breakpoints: (
        xs: $xs,
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl
);

/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$font: 'Work Sans', sans-serif;

$theme-fonts: (
  "font": $font,
);


/*colors*/
$primary: #AF8951;
$secondary: #0d0d0d;
$dark: #1c1c1c;
$white: #ffffff;
$light: #00000029;
$gray: #868d96;
$yellow: #fdf5a6;
$light-gray: #afafaf;
$warning: #fbd28d;
$text: #2d323c;
$transparent: #0000;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  // "success":    $success,
  // "info":       $info,
  "warning": $warning,
  // "danger":     $danger,
  "light": $light,
  "dark": $dark,
  "white": $white,
  "gray": $gray,
  "yellow": $yellow,
  "light-gray": $light-gray,
  "text": $text,
  "transparent": $transparent,
);