/* FONTS PATH */
$fa-font-path: "../fonts";

$xs: 0;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1100px;
$xxl: 1120px;

/*containers size*/
$container-max-widths: (
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl
);

$grid-breakpoints: (
        xs: $xs,
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl
);

/*fonts*/




/*colors*/
$primary: #AF8951;
$secondary: #1C1C1C;
$light: #E2E0E0;
$gray: #d6d6d6;

$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "light":      $light,
        "gray":       $gray
        // "success":    $success,
        // "info":       $info,
        // "warning":    $warning,
        // "danger":     $danger,
);

