#areas {
    position: relative;
    min-height: 750px;
    width: 100%;
    &:before {
        background: url("../img/bg-areas.png") no-repeat top center;
        content: "";
        height: calc(100% - 100px);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}