.procura {
    border: 2px solid $primary;
}
.hr-blog {
    color: $primary;
    border-color: $primary;
    border: 1px solid;
    opacity: 2;
    width: 100%;
  }
.border-none {
        border: none;
}
.fundo-blog {
    position: absolute;
    height: 300px;
    margin-top: -60px;
}
