header#topo {
    position: absolute;
    z-index: 9;
    width: 100%;
    .menu {
        .nav-item {
            .nav-link {
                color: $secondary;
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        #brand {
            img {
                max-width: 220px;
            }
        }
    }
    &.ativo {
        position: fixed;
        .bg-secondary {
            display: none;
        }
        .topo {
            background: #fff;
            -webkit-box-shadow: -1px -5px 9px 5px rgba(84, 84, 84, 0.67);
            box-shadow: -1px -5px 9px 5px rgba(84, 84, 84, 0.67);
        }
    }
}
.offcanvas {
    .btn-close {
        opacity: 1 !important;
        background: none !important;
    }
    .nav-item {
        margin-top: 16px;
        .nav-link {
            color: #fff;
            font-size: 16px;
            font-weight: 300;
        }
    }
}
