#fundo-galeria .fundo-galeria {
    height: 350px;
}
#galeria {
    margin-top: -100px;
}
.hr-galeria {
    color: $primary;
    border-color: $primary;
    border: 1px solid;
    opacity: 1;
    width: 50%;
  }
.card-abrangente {
    border: 2px solid $primary;
    img {
        width: auto;
        height: 35px;
    }
}
